#ignore pdfs
*.pdf
#ignore doxc
*.docx
*.xlsx
#ignore pngs
*.png
#ignore unwaned/old files
*.ipynb
# !concat_ECoG_datasets.ipynb
# !test_win.ipynb
# !test.ipynb
#ignore ewnvironments
/env
#ignore dataset_folder & results
/dataset_high_freq
/dataset_low_freq
/ECoG_datasets_8000_rows
ECoG_discrete_*/
*_optimized_params/
*_optimized_datasets/
saved_weights_*/

Firefly.*
old_firefly*
prime_colab*
prime_discrete*
click*
datasett*
egg_CNN_dataset*
newest_egg_CNN_dataset*
