#ignore pdfs
*.pdf
#ignore doxc
*.docx
*.xlsx
#ignore pngs
*.png
#ignore unwaned/old files
*.ipynb
#ignore ewnvironments
/env
#ignore dataset_folder & results
/dataset_high_freq
/dataset_low_freq
/ECoG_datasets_8000_rows
ECoG_discrete_*/
*_optimized_params/
*_optimized_datasets/
saved_weights_*/
ECoG_contextual_november_datasets_folder/
!contextual_ECoG_positive_COM_optimized_params_november/

Firefly.*
old_firefly*
prime_colab*
prime_discrete*
click*
datasett*
egg_CNN_dataset*
newest_egg_CNN_dataset*
#ignore .vscode
.vscode/