#ignore pdfs
*.pdf
#ignore doxc
*.docx
*.xlsx
#ignore pngs
*.png
#ignore unwaned/old files
*.ipynb
#ignore dataset_folder & results
/dataset_folder
/dataset_high_freq
/dataset_low_freq

Firefly.*
old_firefly*
prime_colab*
prime_discrete*
click*
datasett*
egg_CNN_dataset*
newest_egg_CNN_dataset*
